<a [routerLink]="['']" routerLinkActive="router-link-active" >Back</a>
<h1 class="justify-content-center">submission id : {{ state?.id }}</h1>
<h1>Workflow</h1>
<div [ngClass]="step === state.status ? 'text-danger' : 'text-secondary' " *ngFor="let step of steps">{{step}}</div>
<hr>
<h2>Left : {{state?.LeftReady}}</h2>
<h2>Vet/Approve</h2>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Inspection details</td>
      <td><a [ngClass]="leftReadyArr.indexOf('Inspection details') === -1 ? 'text-secondary' : 'text-danger' " [routerLink]="['/task',state?.id]" routerLinkActive="router-link-active">Inspection details</a> </td>
    </tr>
    <tr>
      <td>Findings</td>
      <td><a [ngClass]="leftReadyArr.indexOf('Findings') === -1 ? 'text-secondary' : 'text-danger' " [routerLink]="['/findings',state?.id]" routerLinkActive="router-link-active">findings</a> </td>
    </tr>
    <tr>
      <td>Questionaire</td>
      <td><a [ngClass]="leftReadyArr.indexOf('Questionaire') === -1 ? 'text-secondary' : 'text-danger' " [routerLink]="['/Questionaire',state?.id]" routerLinkActive="router-link-active">Questionaire</a> </td>
    </tr>
    <tr>
      <td>Enforcement</td>
      <td><a [ngClass]="leftReadyArr.indexOf('Enforcement') === -1 ? 'text-secondary' : 'text-danger' " [routerLink]="['/enforcement',state?.id]" routerLinkActive="router-link-active">enforcement</a> </td>
    </tr>
    <tr>
      <td>Vet/Approve</td>
      <td><a [ngClass]="leftReadyArr.indexOf('Vet/Approve Action') === -1 ? 'text-secondary' : 'text-danger' " [routerLink]="['/approval',state?.id]" routerLinkActive="router-link-active">approval</a> </td>
    </tr>
  </tbody>
</table>

<div class="container ">
  <div class="row justify-content-center">
<form class="form" [formGroup]="inspectionWarningForm" (ngSubmit)="submitWarning()" >
  <h2> Warnings</h2>
      <mat-form-field>
        <mat-label>enforcementAction</mat-label>
        <input matInput formControlName="enforcementAction" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>law</mat-label>
        <input matInput formControlName="law" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>act</mat-label>
        <input matInput formControlName="act" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>description</mat-label>
        <input matInput formControlName="description" >
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" class="mr-3" type="submit" >
        Save
      </button>
      </form>
      </div></div>
<hr>
      <div class="container ">
        <div class="row justify-content-center">
      <form class="form" [formGroup]="inspectionSWOForm" (ngSubmit)="submitSWO()" >
        <h2> SWO</h2>
            <mat-form-field>
              <mat-label>orderNo</mat-label>
              <input matInput formControlName="orderNo" >
            </mat-form-field>
            <mat-form-field>
              <mat-label>proposal</mat-label>
              <input matInput formControlName="proposal" >
            </mat-form-field>
            <mat-form-field>
              <mat-label>description</mat-label>
              <input matInput formControlName="description" >
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" class="mr-3" type="submit" >
              Save
            </button>
            </form>
            </div></div>

            <div class="container"><div class="row justify-content-center"><button mat-raised-button color="primary" type="submit" (click)="goToApproval()"> Next</button><br></div></div>