<hr>
<h1>submission id : {{ state?.id }}</h1>
<mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="currentStatusIndex">
  <div class="container" *ngFor="let step of steps" >
  <mat-step [stepControl]="FirstProcessForm" [editable]="false">
    <form [formGroup]="FirstProcessForm">
      <ng-template matStepLabel>{{ step }}</ng-template>
      <h2>{{ step }}</h2>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" formControlName="name" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>comments</mat-label>
        <input matInput placeholder="comments" formControlName="comments" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="submitForm(step)">Next</button>
      </div>
    </form>
  </mat-step>
</div>
</mat-horizontal-stepper>
