<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>demo</title>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'css/dxd-main-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'graph.css' %}">
    
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'sfn.js' %}"></script>
</head>
<body > 

                    <a href="/">home</a>
    
    {% block content %}
    {% endblock %}
    <br>
</body>

</html>