<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">TaskId</th>
        <th scope="col">title</th>
        <th scope="col">status</th>
        <th scope="col">TaskOwner</th>
        <th scope="col">getTask</th>
    </tr>
</thead>
<tbody>
  <tr *ngFor="let task of tasks">
    <td>{{ task.id }}</td>
    <td>{{ task.name }}</td>
    <td>{{ task.status }}</td>
    <td>{{ task.assignee }}</td>
    <td><button class="btn btn-primary" *ngIf="task.assignee === 'Not Assigned' " (click)="startTask(task.id)">Start Task</button>
      <button class="btn btn-primary" *ngIf="task.assignee !== 'Not Assigned' " (click)="resumeTask(task.id)">resume Task</button></td>
  </tr>
  </tbody>
</table>
<a [routerLink]="['/create']" >Create new Inspection</a>