{% extends '_layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<script type="text/javascript" src="{% static 'load_graph.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'load_graph_styles.css' %}">

<div class="empty-container">
<div class="container col-md-8 centered d-flex">
    <table class="table table-light table-sm table-bordered table-hover col-md-12">
        <thead>
            <tr>
                <th scope="col">TaskId</th>
                <th scope="col">title</th>
         </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                     <a href="{% url 'the_process:update_inspection' stateId %}">Update Inspection</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                   <a href="{% url 'the_process:finding' stateId %}">Findings</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                     <a href="{% url 'the_process:question' stateId %}">Questionaire</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                   <a href="{% url 'the_process:enforcement' stateId %}">Enforcement</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                   <a href="{% url 'the_process:vet_approve' stateId %}">Vet Approve / Action</a>
                </td>
            </tr>
        </tbody>
    </table>
    <style>
      .table-bordered td,
      .table-bordered th {
          border-color: black !important;
      }

  </style>
</div>
<br>
<h1> Approve Officer </h1>
<div class="alert alert-primary">
    <div id="events" style="display: none;" >{{status_diagram }}</div>
    <div id="definition" style="display: none;" >{{ definition }}</div>
    </div>
    <div id="graph-914" class="workflowgraph">
        <div class="graph-legend">
            <ul>
                <li>
                    <div class="success"></div>
                    <span>Success</span>
                </li>
                <li>
                    <div class="failed"></div>
                    <span>Failed</span>
                </li>
                <li>
                    <div class="cancelled"></div>
                    <span>Cancelled</span>
                </li>
                <li>
                    <div class="in-progress"></div>
                    <span>In Progress</span>
                </li>
                <li>
                    <div class="caught-error"></div>
                    <span>Caught Error</span>
                </li>
            </ul></div><svg></svg></div>
    <div class="container col-md-6 align-center justify-content-center">
        <form class="form" method="post" action="/approve/">
            {% csrf_token %}
            {% for field in ApproveOfficerForm %}
            <div class="empty">
                {%if field.field.widget.input_type == 'select' %}
                {{ field|add_class:"chosen-select empty-combo-material empty-none empty-has-value" }}
                <label class="empty-label-control">{{field.label}}</label>
                {% else %}
                {{ field|add_class:"empty-none empty-has-value" }}
                <label class="empty-label-control">{{field.label}}</label>
                {% endif %}
            </div>
            
            {% endfor %}
            
            <div class="empty">
                <input type="text" name="assignee" class="empty-none">
                <label class="empty-label-control">assignee</label>
            </div>
            
            <div class="empty-t-container empty-container-no-indent">
                <div class="empty-page-footer-actions">
                    <div class="empty-eight empty-page-footer-actions-left">
                        <a class="empty-page-footer-link-action" href="#"><i class="empty-icon empty-icon-chevron-left empty-icon-1-em"></i>Back</a>
                        <button id="empty_bottom_action_buttons" class="empty-btn empty-btn--primary">
                                Submit <i class="empty-icon empty-icon-chevron-right empty-icon-1-em"></i>
                            </button>
                        <button class="empty-btn empty-btn--light">
                                <i class="empty-icon empty-icon-floppy-disk empty-icon-1-em"></i> Save as Draft
                            </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

<div class="alert alert-primary">Complete enforcement Here</div>
<div class="container col-md-6 align-center justify-content-center">
    <form class="form" method="post" action="/enforcement/">
        {% csrf_token %}
        <div class="empty">
            <input class="empty-none empty-has-value" type="text" name="stepStatus" value={{ stateId }} readonly>
            <label class="empty-label-control" >stepStatus Id</label>
        </div>

        
        <div class="empty-t-container empty-container-no-indent">
            <div class="empty-page-footer-actions">
                <div class="empty-eight empty-page-footer-actions-left">
                    <a class="empty-page-footer-link-action" href="#"><i class="empty-icon empty-icon-chevron-left empty-icon-1-em"></i>Back</a>
                    <button id="empty_bottom_action_buttons" class="empty-btn empty-btn--primary">
                            Submit <i class="empty-icon empty-icon-chevron-right empty-icon-1-em"></i>
                        </button>
                    <button class="empty-btn empty-btn--light">
                            <i class="empty-icon empty-icon-floppy-disk empty-icon-1-em"></i> Save as Draft
                        </button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>


{% endblock %}

