{% extends '_layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<a class="btn btn-primary" href="/">Home</a>
<hr>
<div class="container col-md-8 centered d-flex">
    <table class="table table-light table-sm table-bordered table-hover col-md-12">
        <thead>
            <tr>
                <th scope="col">TaskId</th>
                <th scope="col">title</th>
         </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                     <a href="{% url 'the_process:update_inspection' stateId %}">Update Inspection</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                   <a href="{% url 'the_process:finding' stateId %}">Findings</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                     <a href="{% url 'the_process:question' stateId %}">Questionaire</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                   <a href="{% url 'the_process:enforcement' stateId %}">Enforcement</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ stateId }}
                </td>
                <td>
                   <a href="{% url 'the_process:vet_approve' stateId %}">Vet Approve / Action</a>
                </td>
            </tr>
        </tbody>
    </table>
    <style>
      .table-bordered td,
      .table-bordered th {
          border-color: black !important;
      }

  </style>
</div>
<br>
<h1> Findings </h1>
<div class="alert alert-primary">
  <div id="execution response" style="display: none;" >{{latest_status }}</div>
  </div>
    
    <div class="container col-md-6 align-center justify-content-center">
        <form class="form" method="post" action="/approve/">
            {% csrf_token %}
            {{ finding_form |crispy }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}

