{% extends '_layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="alert alert-primary">
   Here are your Tasks : 
</div>
       <div class="container col-md-8 centered d-flex">
            <table class="table table-light table-sm table-bordered table-hover col-md-12">
                <thead>
                    <tr>
                        <th scope="col">TaskId</th>
                        <th scope="col">assignee</th>
                        <th scope="col">state</th>
                        <th scope="col">view task</th>
                 </tr>
                </thead>
                <tbody>
                    {% for task in inbox %}
                    <tr>
                        <th scope="row"> {{ task.id }}</th>
                    {% if task.current_status %}
                    <td>{{ task.assignee }}</td>
                    <td scope="col">{{ task.current_status }}</td>
                    <td> <a href="{% url 'the_process:get_task' task.id %}">View Task</a></td>
                    {% else %}
                    <td>null</td>
                    <td scope="col">Not started</td>
                    <td> <a href="{% url 'the_process:get_task' task.id %}">Get Task</a></td>
                    
                    {% endif %}
                  </tr>
                    {% endfor %}
                </tbody>
            </table>
            <style>
              .table-bordered td,
              .table-bordered th {
                  border-color: black !important;
              }
      
          </style>
        </div>
<br>

<a class="btn btn-primary" href="/createInspection/">Create Inspection</a>

{% endblock %}

