{% extends '_layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="alert alert-primary">
   Here are your Tasks : 
</div>
       <div class="container col-md-8 centered d-flex">
            <table class="table table-light table-sm table-bordered table-hover col-md-12">
                <thead>
                    <tr>
                        <th scope="col">TaskId</th>
                        <th scope="col">assignee</th>
                        <th scope="col">state</th>
                        <th scope="col">view task</th>
                 </tr>
                </thead>
                <tbody>
                    {% for task in inbox %}
                    <tr>
                        <th scope="row"> {{ task.id }}</th>
                    {% if task.current_status %}
                    <td>{{ task.assignee }}</td>
                    <td scope="col">{{ task.current_status }}</td>
                    <td> <a href="{% url 'the_process:get_task' task.id %}">View Task</a></td>
                    {% else %}
                    <td>null</td>
                    <td scope="col">Not started</td>
                    <td> <a href="{% url 'the_process:get_task' task.id %}">Get Task</a></td>
                    
                    {% endif %}
                  </tr>
                    {% endfor %}
                </tbody>
            </table>
            <style>
              .table-bordered td,
              .table-bordered th {
                  border-color: black !important;
              }
      
          </style>
        </div>
<br>

<hr>

<div class="alert alert-primary">
  To Start execution
</div>
  
  <div class="container col-md-6 align-center justify-content-center">
      <form class="form" method="post" action="/submit/">
          {% csrf_token %}
          {{ the_form|crispy }}
          <button class="btn btn-primary" type="submit">Submit</button>
      </form>
  </div>
<br>

<div class="alert alert-primary">
    To resume execution
  </div>
    
    <div class="container col-md-6 align-center justify-content-center">
        <form class="form" method="post" action="/resume/">
            {% csrf_token %}
            <label>title</label><input name="id" class="col-md-4 form-control" type="text" >
            <label>State</label><input name="state" class="col-md-4 form-control" type="text" >
            <label>inputs</label><input name="inputs" class="col-md-4 form-control" type="text" >
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
  <br>

{% endblock %}

